<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>

    <body>
        {{>header}}
        <img src="/img/fjcruiser.png">
        {{>footer}}
    </body>
</html>