<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>

    <body>
        <h1>{{title}}</h1>
        <p>Creado por: {{name}}</p>
    </body>
</html>